:root {
  --path-node-color: rgb(255, 254, 106);
  --visited-node-color: rgba(0, 190, 218, 0.75);
}

.navbar {
  display: flex;
  align-items: center;
}

button {
 appearance: none;
 background-color: transparent;
 border: 0.125em solid #1A1A1A;
 border-radius: 0.9375em;
 box-sizing: border-box;
 color: #3B3B3B;
 cursor: pointer;
 display: inline-block;
 font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 0;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 padding: 1em 2.3em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

button:disabled {
 pointer-events: none;
 background-color: grey;
}

button:hover {
 color: #fff;
 background-color: #1A1A1A;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

button:active {
 box-shadow: none;
 transform: translateY(0);
}

td {
  height: 25px;
  width: 25px;
}

.basic-node {
  background-color: #eee;
  border: 1px solid #ddd;
}
.start-node {
background-image: url(assets/start.svg);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
animation-name: specialNodes;
animation-duration: 1.0s;
animation-timing-function: ease-out;
animation-delay: 0;
animation-direction: alternate;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-play-state: running;
}



.end-node{
background-image: url(assets/target.svg);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
animation-name: specialNodes;
animation-duration: 1.0s;
animation-timing-function: ease-out;
animation-delay: 0;
animation-direction: alternate;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-play-state: running;
}

.visited-node {
  animation-name: rippleEffect;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

.path-node {
  background-color: var(--path-node-color);
  animation-name: pathAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}



@keyframes specialNodes {
  0% {
    transform: scale(.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}



@keyframes rippleEffect {
  0% {
    transform: scale(.3);
    background-color: var(--path-node-color);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
    background-color: var(--visited-node-color);
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(.3);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);

  }
}
